{% extends "rest_framework/base.html" %}
{% load static %}

{% block title %}ML Swarm{% endblock %}
{% block branding %}
<a class='navbar-brand' rel="nofollow" href='/'>ML Swarm</a>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static "mlswarm_api/css/bootstrap.min.css" %}" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/prettify.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/default.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "mlswarm_api/css/mlswarm.css" %}" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static "mlswarm_api/css/prettify.css" %}" type="text/css">
{% if code_style %}
<style>{{ code_style }}</style>{% endif %}
{% endblock %}

{% block bootstrap_navbar_variant %}{% endblock %}

{% block script %}
<script>
window.drf = {
  csrfHeaderName: "{{ csrf_header_name|default:'X-CSRFToken' }}",
  csrfCookieName: "{{ csrf_cookie_name|default:'csrftoken' }}"
};
</script>
<script src="{% static "rest_framework/js/jquery-3.3.1.min.js" %}"></script>
<script src="{% static "rest_framework/js/ajax-form.js" %}"></script>
<script src="{% static "rest_framework/js/csrf.js" %}"></script>
<script src="{% static "rest_framework/js/bootstrap.min.js" %}"></script>
<script src="{% static "rest_framework/js/prettify-min.js" %}"></script>
<script src="{% static "rest_framework/js/default.js" %}"></script>
<script>
$(document).ready(function() {
  $('form').ajaxForm();
});
</script>
</script>
{% endblock %}
